<footer>
  <div [classList]="['wrapper']">
    <div [classList]="[ 'ftr']">
    <span [classList]="['ftr-clm']">
      <p [classList]="['title-footer']">about us</p>
      <a >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, deleniti incidunt qui.</a>
      <a>Lviv,Ukraine</a>
      <a>+7809658123</a>
      <a>email@email.com</a>
    </span>
    <span [classList]="['ftr-clm']">
      <p [classList]="['title-footer']">categories</p>
      <a>Hot deals</a>
      <a>Laptops</a>
      <a>Smartphones</a>
      <a>Cameras</a>
      <a>Accessories</a>
    </span >
    <span [classList]="['ftr-clm']">
      <p [classList]="['title-footer']">information</p>
      <a>About Us</a>
      <a>Contact Us</a>
      <a>Privacy Policy</a>
      <a>Orders and Returns</a>
      <a>Terms & Conditions</a>
    </span>
    <span [classList]="['ftr-clm']">
      <p [classList]="['title-footer']">service</p>
      <a>My Account</a>
      <a [routerLink]="['cart']">View Cart</a>
      <a>Wishlist</a>
      <a>Track My Order</a>
      <a>Help</a>
    </span>
  </div>
  </div>
</footer>
